.section {
    width: 100vw;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    transition-duration: 2s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section:hover .box {
    width: 600px;
}



.box:nth-child(odd) { /* to select odd-indexed  "boxes" elements*/
    background: #9CEAEF;
    transition-timing-function: ease-out;
}
.box:nth-child(even) {
    background-color: #eeeff2;
    transition-timing-function: ease-in-out;
}



