/*setting font and layout properties for the body*/
body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh; /* body height */
    background: radial-gradient(ellipse at center, #C0E0C0, #80C080, #409040); /* Back ground colors */
}

/* creating container for the circles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* styling each circle */
.box {
    width: 150px;
    height: 150px;
    border: 2px solid #3498db; /* Border color for circles */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px; /* Font size inside the circle */
    margin: 5px; /* Margin around the circle */
    border-radius: 50%; /* To make circles round */
}

/* Circle A - Orange */
.box:nth-child(1) {
    background-color: #FFA500; /* Orange for the first circle */
}

/* Circle B - Very Light Green */
.box:nth-child(2) {
    background-color: #B2FF66; /* Very light green for the second circle */
}

/* Circle C - Very Light Orange */
.box:nth-child(3) {
    background-color: #FFE4B2; /* Very light orange for the third circle */
}

/* Circle D - Moderate Blue */
.box:nth-child(4) {
    background-color: #6495ED; /* Moderate blue for circle D */
}

/* Circle E - Moderate Pink */
.box:nth-child(5) {
    background-color: #FF69B4; /* Moderate pink for circle E */
}

/* Circle F - Moderate Red */
.box:nth-child(6) {
    background-color: #FF6B6B; /* Moderate red for circle F */
}
